<div class="containerik">

  <div class="player">
    <div class="imgBox">
      <img src="../../assets/taylor.jpg" alt="Blank Space">
    </div>
    <p>Blank Space</p>
    <audio controls>
      <source src="../../assets/Blank Space.mp3" type="audio/mp3">
    </audio>
  </div>


  <div class="player">
    <div class="imgBox">
      <img src="../../assets/taylor.jpg" alt="Blank Space">
    </div>
    <p>Cardigan</p>
    <audio controls>
      <source src="../../assets/cardigan.mp3" type="audio/mp3">
    </audio>
  </div>


  <div class="player">
    <div class="imgBox">
      <img src="../../assets/taylor.jpg" alt="Blank Space">
    </div>
    <p>August</p>
    <audio controls>
      <source src="../../assets/august.mp3" type="audio/mp3">
    </audio>
  </div>

</div>
