<app-nav></app-nav>
<br><br>
<router-outlet></router-outlet>


<!--<app-player></app-player>-->
 <!-- <div class="bcg-img"></div>-->
<br>
<br>
<br>
<hr>
<!--
<div *ngFor="let song of songs">
   <img src="{{ song.picUrl }}" alt="">
</div>

-->



<!--- not wrking
<div *ngFor="let song of songs">
<div *ngIf="{{song.id}}==1">
  <img src="{{ songs.picUrl }}" alt="">
</div>
</div>
-->
<!--<table>
  <thead>
  <tr>

    <th>ID</th>
    <th>picture</th>
    <th>alt</th>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let song of songs">
    <td>{{ song.id }}</td>
    <td>{{ song.picUrl }}</td>

    <td>{{ song.alt }}</td>
  </tr>
</tbody>
-->

  <!--<tr *ngFor="let song of songs">
    <td *ngFor="let col of index">
      {{song[col]}}
    </td>
  </tr>
</table>


-->
