
<div class="containerik">
  <div *ngFor="let song of songs">
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Playlist1" routerLinkActive="active"><img src="{{ song.picUrl }}" alt="" height="450px"></a>
    </div>
  </div>
  </div>
  <!--
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/Zyzz.jpg" alt="zyzz"></a>
    </div>
  </div>
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/fall.jpg" alt="zyzz"></a>
    </div>
  </div>
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/10.jpg" alt="zyzz"></a>
    </div>
  </div>
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/justin.jpg" alt="zyzz"></a>
    </div>
  </div>
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/horkyze.jpg" alt="zyzz"></a>
    </div>
  </div>
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/Skrillex.jpg" alt="zyzz"></a>
    </div>
  </div>
  <div class="albums">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active"><img src="../../assets/hatebreed.jpg" alt="zyzz"></a>
    </div>
  </div>
  -->
</div>
























<!--<div class="container">
  <div class="player">
    <div class="imgBox">
      <a routerLink="/Songs" routerLinkActive="active">
      <img src="../../assets/10.jpg" alt=" Guilottine">
    </a>
    </div>
  </div>
</div>

<div class="container_2">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/taylor.jpg" alt="Blank Space">
    </div>
  </div>
</div>

<div class="container_3">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/Skrillex.jpg" alt="Make It Bun">
    </div>
  </div>
</div>

<div class="container_4">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/Zyzz.jpg" alt="zyzz">
    </div>
  </div>
</div>

<div class="container_5">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/Zyzz.jpg" alt="zyzz" >
    </div>
  </div>
</div>

<div class="container_6">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/Zyzz.jpg" alt="zyzz">
    </div>
  </div>
</div>

<div class="container_7">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/Zyzz.jpg" alt="zyzz">
    </div>
  </div>
</div>
<div class="container_8">
  <div class="player">
    <div class="imgBox">
      <img src="../../assets/Zyzz.jpg" alt="zyzz">
    </div>
  </div>
</div>
-->
